<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <div class="holder headline">
      Travel App
    </div>
    <div class="holder city">
      <label for="city">Where do you want to travel?</label>
      <input type="text" id="city" placeholder="enter name of the city">
    </div>
    <div class="holder date">
      <label for="date">When are you going to travel?</label>
      <textarea class="myInput" id="date" placeholder="Enter your travel date here" rows="3" cols="50"></textarea>
      <button id="generate" type="submit"> Click me! </button>
    </div>
    <div class="holder entry">
      <div class="title">The weather for your trip</div>
      <div id="entryHolder">
        <div id="city"></div>
        <div id="temp"></div>
        <div id="tempFeels"></div>
        <div id="date"></div>
        <div id="content"></div>
      </div>
    </div>
  </div>
  <script src="app.js" type="text/javascript"></script>

</body>

</html>