<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div class="holder headline">
      Travel App
    </div>
    <div class="holder location">
      <label for="location">Where do you want to travel?</label>
      <input type="text" id="location" placeholder="enter name of the location">
    </div>
   <div class="holder date">
      <label for="date">When will your trip start?</label>
      <input type="date" id="date" name="trip-start"
      value="2021-04-01" placeholder="Enter your travel date here">
    </div>
    <!-- <form class="" onsubmit="return Client.handleDate(event)" method="post">
      <textarea class="flex_item" id="name" type="text" name="input" value=""
          placeholder="Paste the text or URL here, that you want to be analysed."></textarea>
      <input class="button flex_item" type="submit" name="" value="analyse" onclick="return Client.handleSubmit(event)"
          onsubmit="return Client.handleSubmit(event)">
  </form> -->
    <div> <button id="generate" type="submit"> Click me! </button></div>
    <div class="holder entry">
      <div class="title">Your trip</div>
      <div id="entryHolder">
        <div id="result"></div>
        <!-- <div id="weather"></div>
        <div id="countdown"></div> -->
      </div>
    </div>
  </div>

</body>

</html>