@import 'variables';

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    border: 25px; 
    background-color: $primary-color;
    color: white;
}

#copyright {
    color: $secondary-color;
}