
footer {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    width: 100%;
    border: 25px; 
    //background-color: $secondary-color;
    padding: 10em;
    color: white;
}

#copyright {
    color: orange;
}