@import 'variables';

//Styling for input

#location {
    padding: 25px;
    margin: 10px 0px 0px 0px;
}

#date {
    padding: 25px;
    margin: 10px 0px 0px 0px;
}

label {
    display: block;
    font-size: 1.75em;
    text-align: center;
    background-color: $primary-color;
    opacity: .8;
    border-radius: 5px;
}

input {
    display: block;
    width: 320px;
    background: white;
    color: rgb(115, 141, 236);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: $font-family;
    border: none;
}

#button_holder {
    display:flex;
    justify-content: center;
}

button {
    width: 150px;
    height: 50px;
    background: #46b59b;
    color: white;
    font-size: 26px;
    font-family: $font-family;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 4px 5px $secondary-color;
}

button:hover {
    background-color:rgb(115, 141, 236);
}

/* Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: $secondary-color;
    font-family: $font-family;

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $secondary-color;
    font-family: $font-family;

}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $secondary-color;
    font-family: $font-family;

}

::-webkit-input-placeholder {
    /* Safari */
    color: $secondary-color;
    font-family: $font-family;

}